/*
возможно использование грид лейаута в 3 ситуациях:
1) Он ни во что не передается или обернут в какой-то контейнер:
Тогда ему необходимо передавать height, overflow не необходим

2) гридлейаут непосредственно внутри грида:
ему необходим overflow и очень желательно иметь height

3) Гридлейат обернут в контейнер, который является грид-элементом:
Обязательно оверфлоу и на контейнере и на гридлейауте
Обязательно для корректной работы height

Исходя из этого лучшим решением видится принимать в качестве пропов height и дополнительно overflow
тк, oveflow:auto не лишний нигде
*/
.grid {
  display: grid;
  gap: 1rem;
  overflow: auto;/*нужен, чтобы локализовывать переполнения в себе*/
}

.grid__item{
  overflow: auto;/*чтобы грид не сыпался при переполнении ячейки*/
}

.grid__item--4 {
  grid-column: 1 / 4; 
  grid-row: 2 / 3;
}
